include:
  - project: 'famedly/company/devops/templates/ci-cd'
    ref: 'v0.1.3'
    file: '/rust.yml'
  - template: Security/License-Scanning.gitlab-ci.yml

stages:
  - test
  - doc
  - build

cargo-check:
  extends: .cargo_check

cargo-build:
  extends: .cargo_build

pages:
  extends: .cargo_common
  stage: doc
  cache:
    paths:
      - "target/doc/"

  script:
    - cargo doc -p requeuest
    - mv target/doc public

  artifacts:
    paths:
      - "public/"
  only:
    - "main"
