include:
  - project: 'famedly/company/devops/templates/ci-cd'
    ref: main
    file: '/rust.yml'
  - template: Security/License-Scanning.gitlab-ci.yml

stages:
  - test
  - doc

# Runs `cargo fmt -- --check`, `cargo check`,
# `cargo clippy` and `cargo test --all --verbose`
cargo-check:
  extends: .cargo_check
  before_script:
# Workaround, see: https://github.com/xd009642/tarpaulin/issues/756#issuecomment-838769320
    - cargo install cargo-tarpaulin --version 0.18.0-alpha3 -f
  script:
    - cargo tarpaulin --avoid-cfg-tarpaulin -v

pages:
  extends: .cargo_common
  stage: doc
  cache:
    paths:
      - "target/doc/"

  script:
    - cargo doc -p requeuest
    - mv target/doc public

  artifacts:
    paths:
      - "public/"
