include:
  - project: 'famedly/infra/templates/ci-cd'
    ref: 'rust-v1'
    file: '/rust.yml'

stages:
  - test
  - doc

cargo-check:
  extends: .cargo_check
  services:
    - postgres:13

  variables:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_URL: "postgresql://postgres:postgres@postgres/"

pages:
  extends: .cargo_doc
